{% extends "base.html" %}

{% block content %}
  <h3 class="text-center">Indicadores registrados</h3>

  {% for indicador in indicadores %}
  <div class="card margins-vertical">
    <h5 class="card-header">{{indicador.responsable}}</h5>
    <div class="card-body">
    <h5 class="card-title">{{indicador.indicador}}</h5>
    <p class="card-text">{{indicador.descripcion}}</p>
    <a href="{{indicador.get_absolute_url}}" class="btn background-primary color-accent">Ir a detalle</a>

    </div>
  </div>
  {% endfor %}

{% endblock content %}
