/*Base.html*/

.logo-img{
  width: 7vw;
  border-radius: 50%;
}

.background-primary{
  background: #76227c !important;
}

.color-accent{
  color: #fff !important;
}

.paddings-vertical{
  padding-top: 5vh !important;
  padding-bottom: 5vh !important;
}

.margins-vertical{
  margin-top: 5vh !important;
  margin-bottom: 5vh !important;
}

.btn-outline-primary{
  color: #76227c;
  background-color: transparent;
  background-image: none;
  border-color: #76227c;
}

.btn-outline-primary:hover{
  color: #fff;
  background-color: #76227c;
  border-color: #76227c;
}

.form-control:focus{
  border-color: #717175 !important;
  box-shadow: inset 0 1px 1px #717175, 1px 1px 1px #717175;
}

.error{
    background-color: maroon;
    color: #FFF;
}

.success{
    background-color: forestgreen;
    color: #FFFFFF;
}

.margin-bottom-small{
  margin-bottom: 2vh !important;
}

.text-justify{
  text-align: justify;
}
